
@{
    ViewBag.Title = "Hem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/SiteScripts/HomeScript.js"></script>

<h1>Välkommen!</h1>
<div>
    <p>
        Vi på Insta-Review är glada över att just du har hittat till oss.
        Hos oss kan du se och ge recensioner till Spel, Film och Böcker.
        Så sätt igång och recensera på!
    </p>
</div>
<h3>Här finns vi:</h3>

<div id="map-canvas"></div>


