
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-image">
    <img src="~/Images/Shared/alert-icon.png" />
</div>

<div class="error-text alert-warning">
    <h1 class="ui-state-error-text">Fel</h1>

    <h3>Ett fel uppstod när vi försökte utföra din begäran, vänligen försök igen.</h3>

    <p>Om felet kvarstår, kontakta vår personal.</p>
</div>